* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
body {
    background: #f8f8f8;
}
.navbar {
    background: #fff;
    border-bottom: 1px solid #ddd;
}
.navbar .wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    margin: 0 auto;
    max-width: 320px;
}

.nav-link {
    color: #666;
    text-decoration: none;
}

.nav-link:hover {
    color: #101010;
    cursor: pointer;
}

.logout-button {
    border: none;
    background-color: transparent;
    font-size: 1em;

}

.login-title {
    text-align: center;
    color: #666;
}

.login-form-container {
    display: grid;
    grid-gap: 20px;
}

.login-form-container input {
    padding: 5px;
    text-align: center;
    font-size: .80em;
    background-color: #F1F1F1;
    border-radius: 5px;
}

.login-form-container button {
    width: 80px;
    margin: auto;
    background-color: #F1F1F1;
    border-radius: 5px;
    color: #666;
}

.login-form-container button:hover {
    cursor: pointer;
}

.homepage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 50px auto 50px auto;
    max-width: 260px;
    
}

.homelinks {
    border-radius: 4px;
    text-decoration: none;
    color: #333;
    font-weight: 1000;
    width: 120px;
    line-height: 120px;
    text-align: center;
    border: 1px solid #aaa;
    margin: 0 auto;
    background-size: 120px 120px;
    position: relative;
}
.homelinks:before {
    border-radius: 4px;
    content: "";
    background: #f2f2f2;
    opacity: .75;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity .2s ease-in-out;
    z-index: 1;
}
.homelinks:hover:before {
    opacity: 0.5;
}
.homelinks span {
    position: relative;
    z-index: 2;
}

.appetizers {
    background-image: url("./thumbs/appetizer-thumb.jpg"); 
}

.breakfast {
    background-image: url("./thumbs/breakfast-thumb.jpg"); 
    
}   

.cocktails {
    background-image: url("./thumbs/cocktail-thumb.jpg")
}

.desserts {
    background-image: url("./thumbs/dessert-thumb.jpg")
}

.maincourse {
    background-image: url("./thumbs/main-course-thumb.jpg")
}

.sides {
    background-image: url("./thumbs/side-dish-thumb.jpg")
}

.new-recipe-form {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.new-recipe-name {
    padding: 5px;
    text-align: center;
    font-size: .80em;
    /* background-color: #F1F1F1; */
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 10px;
}

.ingredient {
    display: grid;
    grid-template-columns: 50% 20% 20%;
    margin-left: 5%;
    grid-gap: 5px;
}

.ingredient-name {
    padding: 5px;
    text-align: center;
    font-size: .80em;
    border-radius: 5px;
}

.ingredient-amount {
    padding: 5px;
    text-align: center;
    font-size: .80em;
    border-radius: 5px;
}

.ingredient-unit {
    padding: 5px;
    text-align: center;
    font-size: .80em;
    border-radius: 5px;
}

.ingredient-button {
    padding: 5px;
    text-align: center;
    font-size: .80em;
    border-radius: 5px;
    width: 30px;
    margin-bottom: 10px;
}

.directions {
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 10px;
    font-size: .80em;
    height: 75px;
    padding: 5px;
    border: inset 2px #ececec;
}

.directory {
    margin-left: 5%;
    background-color: #fff;
    font-size: .80em;
    color: #666;
    margin-bottom: 20px;
    padding: 5px;
}

.submit-recipe-button {
    background: #ED4433;
    color: #fff;
    text-decoration: none;
    width: 120px;
    display: block;
    margin: 0 auto 100px auto;
    text-align: center;
    padding: 10px 0;
    transition: background-color .2s ease-in-out;
    font-size: .80em;
}

.new-recipe-button {
    background: #ED4433;
    color: #fff;
    text-decoration: none;
    width: 120px;
    display: block;
    margin: 0 auto 100px auto;
    text-align: center;
    padding: 10px 0;
    transition: background-color .2s ease-in-out;
}

.new-recipe:hover {
    background-color: #333;
}

.logo {
    text-align: center;
    background-color: #ED4433;
    color: #fff;
    padding: 20px;
    margin: 0px;
}

.recipe-toggle {
    background-color: #fff;
    border: none;
    font-size: .90em;
    margin: 10px 10px;
    color: #333;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0px rgba(163,163,163,1);
}

.recipe {
    width: 80%;
    margin-left: 10%;  
    font-size: .80em;
    color: #333;
    background-color: #fff;
    padding: 2px 12px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 0px rgba(163,163,163,1);
}

.recipe-info {
    margin-left: 15%;
}